div {
  border: 1px solid navy;
}

span {
  border: 1px solid lightgray;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}


/* Site Container */

body {
  font-family: Helvetica;
  line-height: 1.4rem;
}


/* HEADER Section */

header {
  background-image: url(./images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;

}

.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}


/* Nav Bar Content*/

.nav-container {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  width: 960px;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

header nav a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem;
}

.menu {
  display: flex;
}

.menu span {
  padding: 0 1rem;
}

/* Hero Text Content */
.herotext {
  display: flex;
  justify-content: flex-end;
  margin: 10rem -2rem 0 0;
}

.herotext h1 {
  color: black;
  background-color: white;
  padding: 1.5rem 5rem;
  align-items: center;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

/* MAIN Body Section */

/* Services Icon */
.content {
  width: 960px;
  margin: 0 auto;
}

.content .item-container {
  display: flex;
  justify-content: center;
  width: 960px;
}

.content .item {
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Info Section */
.info {
  width: 960px;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.info .column {
  width: 18rem;
  margin: 0 2.5%;
  display: block;
}

.info h2 {
  width: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: cadetblue;
  padding: .5rem 1.25rem;
  margin-bottom: 1rem;
}












/* Footer */
